.album {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 22px;
  color: #999;
}
.nowrap {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.album a {
  color: #999;
  text-decoration: none;
}
.album a.title {
  color: #000;
}
.album a:hover {
  color: #31c27c;
}
.cover {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.cover > img {
  width: 100%;
}
.mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.mask img {
  cursor: pointer;
}
.cover:hover .mask {
  visibility: visible;
  opacity: 1;
}