@font-face {
  font-family: 'iconfont';
  src: url('font.woff2') format('woff2');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-checkbox:before {
  content: '\e619';
}
.icon-delete:before {
  content: '\e621';
}
