* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #333;
}
#app {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
.title {
  color: #4F89FF;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  color: #333;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.todo-item .iconfont {
  color: #ccc;
  font-size: 24px;
  cursor: pointer;
}
.todo-title {
  flex: 1;
  margin: 0 15px;
  font-size: 18px;
  line-height: 1.5em;
}
.todo-finished .icon-checkbox {
  color: #4F89FF;
}
.icon-delete:hover {
  color: red;
}
.todo-finished .todo-title {
  text-decoration: line-through;
  color: #bbb;
}