.head {
  display: grid;
  gap: 15px;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}
.pic {
  border-radius: 50px;
}
.list {
  display: grid;
  gap: 15px;
}