a {
  text-decoration: none;
}
body {
  margin: 0;
  background: #f4f4f4;
  min-height: 100vh;
  font-size: 14px;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.grid {
  padding: 15px;
  display: grid;
  gap: 15px;
  min-height: calc(100vh - 145px); 
}