* {
  box-sizing: border-box;
}
html,
body,
.page {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.page {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  margin: auto;
}
.top {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #d23e34;
  padding-top: 15px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.top-title {
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.tabs {
  padding: 15px;
}
.tabs > ul {
  margin: 0;
  display: flex;
  border-radius: 10px;
  background-color: #cd2523;
  overflow: hidden;
  padding: 0;
}
.tab-item {
  flex: 1;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  list-style: none;
}
.tab-active {
  background-color: #b9211f;
}
.cats {
  padding: 15px;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
}
.cat-list {
  display: flex;
  overflow-x: auto;
  padding: 0;
  margin: 0;
}
.cat-list::-webkit-scrollbar {
  display: none;
}
.cat-item {
  line-height: 25px;
  background-color: #f7f7f7;
  font-size: 14px;
  color: #333;
  padding: 0 12px;
  border-radius: 5px;
  margin-right: 10px;
  white-space: nowrap;
  list-style: none;
}
.cat-active {
  background-color: #d23e34;
  color: #fff;
}
.list {
  position: relative;
  width: 100%;
  flex: 1;
  overflow: auto;
  padding: 15px;
}
.sku {
  display: block;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 15px;
}
.sku:last-child {
  margin-bottom: 0;
}
.content {
  display: flex;
}
.cover {
  width: 115px;
  height: 115px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.cover-img {
  width: 115px;
}
.cover-rank {
  position: absolute;
  width: 36px;
  left: 0;
  top: 0;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 115px;
  margin-left: 15px;
}
.sku-title {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.types {
  display: flex;
}
.type-item {
  padding: 2px 5px;
  background-color: #f7f7f7;
  border-radius: 3px;
  color: #999;
  font-size: 12px;
}
.price {
  color: #d23e34;
  font-size: 13px;
  font-weight: 500;
}
.desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #999;
}
.source {
  flex: 1;
}
.comment {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
  color: #666;
  margin-top: 15px;
  font-size: 14px;
}
.comment strong {
  color: #333;
}
.desc-number {
  margin-left: 5px;
}
.desc .iconfont {
  margin-left: 20px;
}
.desc .icon-comment {
  margin-left: 0;
}